<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mentor rating</title>
</head>

<body>
    <span class="name"></span>
    <span class="stack"></span>
    <span class="theClass"></span>
    <span class="expl"></span>
    <span class="know"></span>
    <span class="help"></span>
    <script src="mentor_rating.js"></script>
    <button onclick="location.href = 'http://localhost:3000'"> back</button>
    <script src="mentor_rating.js"></script>
</body>

</html>