<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mark them!</title>
</head>

<body>
    <h3>
        Name:
    </h3>
    <form action="" method="POST">
        <label for="explanation">Explanation</label>
        <input type="number" name="Explanation" id="explanation" placeholder="1-5">
        <label for="explanation">Knowledge</label>
        <input type="number" name="Knowledge" id="knowledge" placeholder="1-5">
        <label for="explanation">Helpfulness</label>
        <input type="number" name="Helpfulness" id="helpfulness" placeholder="1-5">
        <input type="submit" value="YipYip">
    </form>
    <button onclick="location.href = 'index.html'"> back</button>
</body>

</html>