<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mark my Mentor (he is awesome and his name is Sanyi)</title>
</head>

<body>
    <h1> This whole page is about mentors</h1>
    <h3> Our top 3 mentors:</h3>
    <ul class="topList">
    </ul>
    <h3>Our mentors:</h3>
    <ul class="allMentors">
    </ul>
    <h3>Can't find your mentor here? Go on add them to the list!</h3>
    <button onclick="location.href = 'new_mentor.html'">Add new mentor</button>
    <script src= "./main.js"></script>
</body>

</html>